* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#input-box {
    margin: 50px auto;
    margin-bottom: 10px;;
    width: max-content;
}

#status {
    padding: 10px 30px;
    border-radius: 10px;
    border: 3px solid rgb(169, 141, 0);
    background: rgb(255, 235, 138);
    margin: 0 auto;
    margin-top: 15px;
    width: max-content;
    font-size: 16px;
    opacity: 1;
}

#status.good {
    border: 3px solid rgb(0, 139, 37);
    background: rgb(149, 255, 178);
}

#status.fade-out {
    transition: 1s linear;
    opacity: 0;
}

#input {
    font-size: 24px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

#main {
    margin: 0px 30px;
    display: grid;
    justify-items: center;
}

.group {
    display: grid;
    grid-template-areas: "left rights";
    font-size: 16px;
    width: max-content;
    gap: 40px;
    align-items: center;
}

.left {
    grid-area: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: min-content;
    width: max-content;
    background: white;
}

.rights {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-area: rights;
    margin: 10px 0;
}
